body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

main {
    flex: 1;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 10px;
}

.task button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
}

.task button:hover {
    color: darkred;
}

.task-completed {
    text-decoration: line-through;
    color: #888;
}

.add-task-form input,
.add-task-form button {
    padding: 10px;
    margin: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-task-form {
    margin-bottom: 20px;
}