<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    	Task Manager
    {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <h1>Task Manager</h1>
</header>

{#The main content#}
<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Task Manager. All rights reserved. Fomushken studio</p>
</footer>

{% block scripts %}
{% endblock %}

</body>
</html>