{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Form for creating a new task -->
    <div class="add-task-form">
        <input type="text" id="task-title" placeholder="Task title" required />
        <input type="datetime-local" id="task-due-date" required />
        <input type="text" id="task-description" placeholder="Task description" required />
        <button onclick="addTask()">Add task</button>
    </div>
<div class="filter-sort-options">
    <select id="filter-status" onchange="fetchFilteredTasks()">
        <option value="">All tasks</option>
        <option value="pending">Pending</option>
        <option value="in_progress">In Progress</option>
        <option value="completed">Completed</option>
        <option value="failed">Failed</option>
    </select>

    <input type="date" id="filter-date" onchange="fetchFilteredTasks()">
    <button onclick="clearFilters()">Clear Filters</button>

    <select class="sort-options-dropdown" id="sort-options" onchange="fetchSortedTasks()">
        <option value="due_date">Sort by Due Date</option>
        <option value="-due_date">Sort by Due Date(Descending)</option>
        <option value="status">Sort by Status</option>
    </select>
</div>
    <ul id="task-list">
    </ul>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        window.onload = fetchTasks;
    </script>
{% endblock %}